<header class="header">
  <a href="index.html" class="header-logo">
    <img
      src="icons/ansuz.svg"
      alt="icon"
      height="32px"
      style="margin-right: 10px"
    />
    <h1>Ansuz</h1>
  </a>
  <nav>
    <a href="index.html" class="nav-link" data-page="index">Главная</a>
    <a href="about.html" class="nav-link" data-page="about">О нас</a>
    <a href="app.html" class="nav-link" data-page="app">О приложении</a>
    <a href="download.html" class="nav-link" data-page="download">Скачать</a>
    <a href="login.html" class="nav-link" data-page="account" id="navAccount"
      >Аккаунт</a
    >
  </nav>
</header>
